<link rel="stylesheet" href="../assets/css/welcome.css">

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <img src="./assets/lock.png" id="lock-img">
        <div class="card-home" >
            <div class="card-body">
                <h3 class="card-title">Login or Register</h3>
                <p class="card-text">Login to an existing account
                <a href="/auth/login" class="btn btn-primary btn-block">Login</a>
              <br>  or Register a new one</p>
                <a href="/auth/register" class="btn btn-secondary btn-block" id="reg">Register</a>
            </div>
        </div>
    </div>
</div>
