.card-body
{
   background-color: rgb(0, 0, 0);
   height:300px;
   width:450px;
   margin-left: 30%;

}

#lock-img
{
   margin-left:40%;
}

.card-title
{
   color:white;
   text-align: center;
   font-size:50px;
   font-family: sans-serif;
}

.card-text
{
   color:white;
   text-align: center;
   font-size:30px;



}

#reg
{
   font-size:30px;
   text-align: center;

}